<div class="form-horizontal" role="form">
  <%= form_for time_datum do |f| %>
    <div class="form-group">
      <%= f.label :clock_in, class: "col-sm-4 control-label centered" %>
      <div class="col-sm-4">
        <%= f.datetime_field :clock_in, class: "form-control", value: Time.now.to_formatted_s(:time_format) if time_datum.clock_in.nil? %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :break_out, class: "col-sm-4 control-label centered" %>
      <div class="col-sm-4">
        <%= f.datetime_field :break_out, class: "form-control", value: Time.now.to_formatted_s(:time_format) if time_datum.break_out.nil? %> 
      </div>
    </div>

    <div class="form-group">
      <%= f.label :break_in, class: "col-sm-4 control-label centered" %>
      <div class="col-sm-4">
        <%= f.datetime_field :break_in, class: "form-control", value: Time.now.to_formatted_s(:time_format) if time_datum.break_in.nil? %> 
      </div>
    </div>

    <div class="form-group">
      <%= f.label :clock_out, class: "col-sm-4 control-label centered" %>
       <div class="col-sm-4">
        <%= f.datetime_field :clock_out, class: "form-control", value: Time.now.to_formatted_s(:time_format) if time_datum.clock_out.nil? %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :notes, class: "col-sm-4 control-label centered" %>
        <div class="col-sm-4">
          <%= f.text_field :notes, class: "form-control" %>
        </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <%= f.submit "Save", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>


